<div class='record' >
  <p>
    <strong>Name:</strong>
    <span><%= record.name %><span>
  </span>

  <p>
    <strong>Amount:</strong>
    <span><%= record.amount %><span>
  </p>

  <p>
    <strong>User:</strong>
    <span><%= record.user_id %><span>
  </p>

</div>

