<p style="color: green"><%= notice %></p>

<h1>Records List</h1>

<div id="records">
  <% @records.each do |record| %>
    <%= render record %>
  <% end %>
</div>

<%= link_to "New record", new_record_path %>
