<div class="header-categories">
  <h1>NEW TRANSACTION</h1>
</div>


<%= render "form", record: @record, category: @category %>

<br>

<div class="back-btn">
  <% link_to "Back to records", category_records_path(@category, @record) %>
  <%= link_to "Back to category", category_path(@category) %>
</div>

<br>