<div class="splash-page d-flex">
  <div class="home-header-categories header">
    <h1>BUDGY BUDGET</h1>
  </div>
  <div class="user-icon d-flex flex-center">
    <span style="font-size: 120px;"><i class="fa-solid fa-circle-user"></i></span>
    <h2>WELCOME<h2>
  </div>
  <div class="buttons">
    <%= button_to "Login", new_user_session_path, :method => :get, class:"splash-btns" %>
    <%= button_to "Sign up", new_user_registration_path, :method => :get, class:"splash-btns splash-signup" %>
  </div>
</div>
