<div id="<%= dom_id category_record %>">
  <p>
    <strong>Category:</strong>
    <%= category_record.category_id %>
  </p>

  <p>
    <strong>Record:</strong>
    <%= category_record.record_id %>
  </p>

</div>
