<div class="header-categories">
  <h1>NEW CATEGORY TRANSACTION</h1>
</div>

<%= render "form", category_record: @category_record %>

<br>

<div>
  <%= link_to "Back to category records", category_records_path %>
</div>

