@import "font-awesome-sprockets";
@import "font-awesome";

:root {
  --size-border: 2px solid var(--text-color);
  --box-border: 2px solid var(--shadow-color);
  --box-hover: 1px solid var(--main-color);
  --prmary-color: #f4f4f4;
  --bacground-color: #eee;
  --main-color: #763f03f7;

  /* --main-color: #a05d1f; */
  --btn-color: #5fb523;
  --secondary-color: #4da012;
  --text-color: #434b54;
  --bg-color: #f5f6f8;
  --on-secondary: #fff;
  --shadow-color: #f1f1f2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  height: 100%;
  width: 100%;
  background-color: var(--bacground-color);
}

.new-edit-cat {
  cursor: pointer;
  border: none;
  background: inherit;
  color: white;
  font-size: 1.3rem;
  margin-right: 10px;
}

.d-flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: space-between;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 540px;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  margin: 0 auto;
  padding: 1rem;
  position: relative;
  background-color: antiquewhite;
  border: 1px solid rgba(134, 134, 134, 0.507);
}

button,
input {
  border: 0;
  outline: none;
  transition: all 0.5s ease-in;
}

button a {
  color: var(--on-secondary);
  font-size: 1.3rem;
}

form {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 1rem;
  background-color: var(--bg-color);
  border-radius: 0 0 4px  4px;
}

/* SPLASH PAGE */

.splash-page {
  width: 100%;
  height: calc(100vh - 2.2rem);
  max-height: 80%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--main-color);
}

.splash-page h1 {
  font-size: 2rem;
  padding: 0.3rem 1rem;
  margin: 0 10px;
  text-align: center;
  color: var(--secondary-color);
  border: var(--box-border);
  border-radius: 8px;
  font-weight: 900;
}

.splash-page .user-icon {
  /* margin: 0 auto;
  text-align: center; */
  flex-direction: column;
}

.user-icon i {
  color: var(--prmary-color);
}

.user-icon h2 {
  color: var(--prmary-color);
  font-size: 2rem;
}

.buttons {
  width: 90%;
}

.buttons form {
  width: 100%;
  background-color: var(--main-color);
  margin: 5px auto;
}

.buttons button {
  width: 100%;
  margin: 0 auto;
  background-color: var(--secondary-color);
  padding: 0.5rem;
  border: var(--bg-color);
  color: var(--on-secondary);
  border-radius: 4px;
  font-weight: 700;
  font-size: 1.2rem;
}

/* LOG IN and SIGN UP */

/* #new-tran-from,
#save-categ-from {
  height: 100%;
  min-height: 100%;
  background-color: red;
  margin: 0;
  padding: 0;
} */

.nav-splash {
  width: 100%;
  background-color: var(--main-color);
  color: var(--prmary-color);
  padding: 1rem 0.5rem;
  border-radius: 4px  4px 0 0;
}

.icons {
  width: 10%;
}

.icons i {
  margin-left: 50%;
  padding: 0.3rem 0.5rem;
  text-align: right;
  font-size: 1.2rem;
  color: var(--prmary-color);
}

.nav-splash h2 {
  color: inherit;
}

.actions {
  width: 100%;
  margin: 1rem 0;
}

.actions input {
  font-weight: 700;
  border: var(--size-border);
  border-radius: 4px;
  padding: 0.2rem 1rem;
}

.act a {
  font-weight: 700;
  border: var(--size-border);
  border-radius: 4px;
  padding: 0.2rem 1rem;
}

/* CATEGORIES PAGE */

.header-categories {
  height: 70px;
  width: 100%;
  background-color: var(--main-color);
}

.header-categories h1:not(.transaction-header-nav) {
  width: 70%;
  font-size: 24px;
  color: var(--on-secondary);
}

.transaction-header-nav {
  font-size: 24px;
  color: var(--on-secondary);
}

.categories {
  padding: 1rem 0;

  /* background-color: antiquewhite; */
}

.category {
  flex: 1;
  justify-content: space-between;
  position: relative;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--bg-color);

  /* background-color: cornflowerblue; */
}

.category.transaction {
  margin-bottom: 0;
}

.category-head {
  position: relative;
}

.image {
  width: 70px;
  min-width: 60px;
  height: 90%;
  background-color: var(--shadow-color);
}

.image img {
  width: 100%;
}

.line-bar {
  margin: 0.6rem auto 1rem;
}

.name-date {
  height: 100%;
  flex: 1;
  flex-direction: column;
  margin: 0 1rem 0 2rem;
  padding-top: 1rem;
}

.name-date h3.name {
  font-size: 1.4rem;
}

.name-date p.date {
  height: 67%;
  align-items: flex-end;
  margin-top: 1rem;
}

.total-amount {
  margin: 1rem 0 0.5rem 0;
  font-weight: 600;
  font-size: 1.1rem;
  z-index: 1;
}

.new-cat-btn {
  width: 100%;
  margin-top: auto;
  padding: 1rem;
  background-color: var(--btn-color);
  transition: all 0.5s ease-in;
}

.new-cat-btn button {
  width: 100%;
  padding: 1rem;
  border: var(--box-border);
  background-color: var(--btn-color);
}

.btn-changes {
  position: absolute;
  right: 0;
  bottom: -1rem;
}

.btn-changes form,
.btns-record form {
  padding: 0;
  margin-left: 1rem;
  background-color: inherit;
}

.actions-btn a,
.btns-record button,
.btn-changes form button {
  font-weight: 600;
  border: var(--shadow-color);
  border-radius: 4px;
  padding: 0.2rem 1rem;
  color: var(--prmary-color);
  background-color: var(--btn-color);
  transition: all 0.5s ease-in;
}

.btn-changes form button,
.btns-record form button {
  border: var(--size-border);
  background-color: var(--main-color);
}

.actions-save input {
  border: none !important;
  padding: 3px 5px;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--on-secondary);
  transition: all 0.5s ease-in;
}

.transactions {
  flex-direction: column;
  align-items: center;
}

.transactions h2 {
  margin-top: 1rem;
  text-align: center;
}

.transactions ul {
  width: 100%;
  margin: 0 auto 1rem;

  /* background-color: yellow; */
}

.transactions ul li {
  width: 100%;
  margin-top: 1rem;
  padding: 1rem 3rem;
  border-radius: 4px;
  background-color: #3778c215;
}

.transactions li p {
  margin: 3px 0;
  font-size: 1.1rem;
}

.transactions p span {
  color: var(--main-color);
}

.input label {
  font-weight: 700;
}

.input input {
  width: 100%;
  height: 1.9rem;
  padding: 0.7rem;
  margin: 0.5rem auto 1.5rem;
  border-radius: 4px;
}

.submit {
  width: 100%;
  justify-content: center;
}

.action-btn {
  width: 100%;
  padding: 1rem;
}

.submit input,
.action-btn a {
  padding: 0.5rem 1rem;
  font-weight: 700;
  border: var(--size-border);
  border-radius: 8px;
  color: var(--on-secondary);
  background-color: var(--btn-color);
  transition: all 0.5s ease-in;
}

.new-cat-btn:hover {
  transform: scale(0.97);
}

.new-cat-btn button:hover,
.new-cat-btn button:hover a {
  color: var(--main-color);
  border-color: var(--main-color);
  background-color: var(--btn-color);
}

input:hover:not(.input-file) {
  transform: scale(1.01);
  border: 1px solid var(--main-color);
}

.actions-btn:hover,
.action-btn:hover,
.btns-record button:hover,
.btn-changes form button:hover {
  transform: scale(1.03);
}

.actions-save input:hover,
.icons i:hover {
  transform: scale(1.07);
  color: antiquewhite;
}
