@import "font-awesome-sprockets";
@import "font-awesome";

:root {
  --size-border: 2px solid var(--text-color);
  --box-border: 2px solid var(--shadow-color);
  --box-hover: 1px solid var(--primary-color);
  --bacground-color: #e5e5e5;
  --primary-color: #298cfc33;
  --btn-color: #5fb523;
  --secondary-color: #02428b;
  --text-color: #434b54;
  --bg-color: #0372ef42;
  --on-secondary: #fff;
  --shadow-color: #f1f1f2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  height: 100%;
  width: 100%;
  background-color: var(--bacground-color);
}

.new-edit-cat {
  cursor: pointer;
  border: none;
  background: inherit;
  color: white;
  font-size: 1.3rem;
  margin-right: 10px;
}

.d-flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: space-between;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 540px;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  margin: 0 auto;
  position: relative;
  background-color: var(--bacground-color);

  /* border: 1px solid rgba(134, 134, 134, 0.507); */
}

button,
input {
  border: 0;
  outline: none;
  transition: all 0.5s ease-in;
}

button a {
  color: var(--on-secondary);
  font-size: 1.3rem;
}

form {
  flex: 1;
  flex-direction: column;
  padding: 0.5rem 2rem;
  border-radius: 0 0 4px  4px;
}

form.login-form,
form#new-tran-from,
form#save-categ-from {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  padding: 3rem 2rem 2rem;
  background-color: var(--primary-color);
  border-radius: 16px;
}

/* SPLASH PAGE */

.splash-page {
  width: 100%;
  height: calc(100vh);
  max-height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--primary-color);
  border-radius: 0 100px 0 0;
}

.splash-page h1 {
  font-size: 2rem;
  padding: 1rem 1rem;
  margin: 2.5rem 10px 0;
  text-align: center;
  color: var(--secondary-color);
  background: #0372ef26;

  /* border: var(--box-border); */
  border-radius: 20px;
  font-weight: 900;
}

.splash-page .user-icon {
  flex-direction: column;
}

.user-icon i {
  color: var(--secondary-color);

  /* color: rgba(4, 169, 169, 0.668); */
}

.user-icon h2 {
  color: var(--secondary-color);
  font-size: 1.9rem;
  font-weight: 600;
}

.buttons {
  width: 90%;
  background-color: var(--bg-color);
  border-radius: 16px;
  padding: 1.7rem 0;
  margin-bottom: 2rem;
}

.buttons form {
  width: 100%;
  margin: 0 auto;
}

.buttons button {
  width: 100%;
  margin: 0 auto;
  background-color: var(--secondary-color);
  padding: 0.8rem;
  border: var(--bg-color);
  color: var(--on-secondary);
  border-radius: 16px;
  font-weight: 700;
  font-size: 1.2rem;
}

.nav-splash {
  width: 100%;
  background-color: var(--primary-color);
  padding: 1rem 0.5rem;
  border-radius: 4px  4px 0 0;
}

.icons i {
  padding: 0.3rem 0.5rem;
  text-align: right;
  font-size: 1.2rem;
  color: var(--secondary-color);
}

.nav-splash h2 {
  color: var(--secondary-color);
}

.actions {
  width: 100%;
  margin: 0.2rem 0 1rem;
}

.actions input {
  width: 100%;
  font-size: 1.1rem;
  font-weight: 700;
  border: var(--size-border);
  color: var(--on-secondary);
  background-color: var(--secondary-color);
  border-radius: 8px;
  padding: 0.5rem;
}

.act a {
  font-weight: 700;
  border: var(--size-border);
  border-radius: 4px;
  padding: 0.2rem 1rem;
}

/* CATEGORIES PAGE */

.header-categories {
  height: 70px;
  width: 100%;
  justify-content: space-around;
  background-color: var(--primary-color);
}

.header-categories h1:not(.transaction-header-nav) {
  width: 80%;
  text-align: center;
  font-size: 24px;
  color: var(--secondary-color);
}

.header-categories h1.transaction-header-nav {
  text-align: center;
  width: 60%;
  font-size: 22px;
}

.transaction-header-nav {
  font-size: 24px;
  color: var(--secondary-color);
}

.categories {
  padding: 1rem 0;
  background: #0366d64d;
  height: 400px;
  overflow: scroll;
}

.category {
  flex: 1;
  justify-content: space-between;
  position: relative;
  padding: 1rem;
  margin-bottom: 1.2rem;
  background-color: var(--on-secondary);
  border-radius: 8px;
}

.category.transaction {
  margin-bottom: 0;
}

.category-head {
  position: relative;
}

.image {
  width: 70px;
  min-width: 60px;
  height: 90%;
  background-color: var(--shadow-color);
}

.image img {
  width: 100%;
}

.line-bar {
  margin: 0.6rem auto 1rem;
}

.name-date {
  height: 100%;
  flex: 1;
  flex-direction: column;
  margin: 0 1rem 0 2rem;
  padding-top: 1rem;
}

.name-date h3.name {
  font-size: 1.4rem;
}

.name-date p.date {
  height: 67%;
  align-items: flex-end;
  margin-top: 1rem;
  color: var(--text-color);
}

.total-amount {
  margin: 1rem 0 0.5rem 0;
  font-weight: 600;
  font-size: 1.1rem;
  z-index: 1;
  color: var(--text-color);
}

.new-cat-btn {
  width: 100%;
  margin-top: auto;
  padding: 1rem;
  background-color: var(--secondary-color);
  transition: all 0.5s ease-in;
}

.new-cat-btn button {
  width: 100%;
  padding: 1rem;
  border: var(--box-border);
  background-color: var(--secondary-color);
}

.btn-changes {
  position: absolute;
  right: 0;
  bottom: -1rem;
}

.btns-record {
  width: 80%;
  margin: 0 auto;
}

.btn-changes form,
.btns-record form {
  padding: 0;
  margin-left: 1rem;
  background-color: inherit;
}

.actions-btn a,
.btns-record button,
.btn-changes form button {
  font-weight: 600;
  border: var(--shadow-color);
  border-radius: 4px;
  padding: 0.2rem 1rem;
  color: var(--on-secondary);
  background-color: var(--secondary-color);
  transition: all 0.5s ease-in;
}

.btn-changes form button,
.btns-record form button {
  color: var(--text-color);
  border: var(--size-border);
  background-color: var(--primary-color);
}

.actions-save input {
  border: none !important;
  padding: 3px 5px;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--secondary-color);
  transition: all 0.5s ease-in;
}

.transactions {
  flex-direction: column;
  align-items: center;
}

.transactions.show {
  max-width: 100%;
  height: calc(100vh - 72px);
}

.transactions h2 {
  margin-top: 1.1rem;
  text-align: center;
  font-size: 1.3rem;
}

.transactions ul {
  width: 100%;
  margin: 1rem auto;
  padding: 1rem 1.5rem;
  border-radius: 16px;
  background-color: var(--primary-color);
}

.transactions ul li {
  width: 100%;
  margin: 1rem auto;
  padding: 0.7rem 1rem;
  border-radius: 4px;
  background-color: #0366d64d;
}

.transactions li.show .record.show {
  padding: 1rem 5%;
}

.transactions li p {
  margin: 3px 0;
  font-size: 1.1rem;
}

.transactions li.show .record.show p {
  font-size: 1.3rem;
}

.transactions p span {
  color: var(--text-color);
}

.input label {
  font-weight: 700;
}

.input input {
  width: 100%;
  height: 1.9rem;
  padding: 1.4rem 0.5rem;
  margin: 0.5rem auto 1rem;
  border-radius: 4px;
}

.submit {
  width: 100%;
  justify-content: center;
}

.action-btn {
  width: 100%;
  padding: 1rem;
}

.submit input,
.action-btn a {
  padding: 0.5rem 1rem;
  font-weight: 700;
  border: var(--size-border);
  border-radius: 8px;
  color: var(--on-secondary);
  background-color: var(--secondary-color);
  transition: all 0.5s ease-in;
}

.new-cat-btn:hover {
  transform: scale(0.97);
}

.new-cat-btn button:hover {
  color: var(--text-color);

  /* border-color: var(--primary-color); */
  background-color: var(--primary-color);
}

input:hover:not(.input-file) {
  transform: scale(1.01);
  border: 1px solid var(--primary-color);
}

.actions-btn:hover,
.action-btn:hover,
.btns-record button:hover,
.btn-changes form button:hover {
  transform: scale(1.03);
}

.actions-save input:hover,
.icons i:hover {
  transform: scale(1.07);
  color: var(--on-secondary);
}
